*
{
	margin:0 auto;
}


body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
[class^="col-"]
{
	margin-top:10px;
}

.beta 
{
	font-weight: 700;
	font-size:12px;
	 
}
.container .row {
	margin-top: 20px;
}

.wrap
{
	padding:25px 10px;
}

blockquote
{
	font-size:14px;
}

#header
{
	background:#7188b6;
	border-bottom:#d3d3d3;
		box-shadow: 0px 5px 5px rgba(0,0,0,.2);
}
#header a
{
	color:#FFFFFF;
}

#footer
{
	padding:40px;
}
